<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>hello test!</h1>
<!--<span th:text="${age}"></span>-->
<!--<h2 th:text="${name}"></h2>-->

<!--<h2 th:text="${stu.getName()}"></h2>-->


<h2 th:text="${name}"></h2>

<input th:value="${name}"/>
<br>

<!--判断字符串是否为空-->
<label>字符串是否为空</label>
<span th:text="${#strings.isEmpty(name)}"></span> <br>

<!--判断字符串是否包含指定的字符-->
<label>是否包含指定的字符</label>
<span th:text="${#strings.contains(name,'t')}"></span><br>

<!--判断字符串以什么开头-->
<label>判断字符串以t开头</label>
<span th:text="${#strings.startsWith(name,'t')}"></span><br>

<!--判断字符串以什么结尾-->
<label>判断字符串以2结尾</label>
<span th:text="${#strings.endsWith(name,'2')}"></span><br>

<!--获取字符串长度-->
<label>获取字符串长度</label>
<span th:text="${#strings.length(name)}"></span><br>

<br>
<br>
<br>

<label>默认时间格式</label>
<span th:text="${birthday}"></span><br>

<label>默认格式化日期</label>
<span th:text="${#dates.format(birthday)}"></span><br>

<label>指定格式日期</label>
<span th:text="${#dates.format(birthday,'yyyy-MM-dd HH:mm:ss')}"></span><br>
<span th:text="${#dates.format(birthday,'yyyy-MM-dd H:m:s')}"></span><br>

<hr>
<label>判断:</label>
<br>
<span th:if="${sex==1}">男</span>
<span th:if="${sex==0}">女</span>
<br>

<span th:switch="${sex}">
 <span th:case="1">男</span>
 <span th:case="2">女</span>
 <span th:case="*">未知-默认</span>
</span>

<br>
循环
<br>
<span th:each="str,status:${myList}">
   值： <span th:text="${str}"></span><br>
   count: <span th:text="${status.count}"></span><br>
   size <span th:text="${status.size}"></span><br>
   index: <span th:text="${status.index}"></span><br>
   first: <span th:text="${status.first}"></span><br>
    last:<span th:text="${status.last}"></span><br>
   odd奇数 : <span th:text="${status.odd}"></span><br>
    even偶数:<span th:text="${status.even}"></span><hr>
</span>
<br>

<span th:each="attr: ${myMap}">
<span th:text="${attr}"></span>
<span th:text="${attr.key}"></span>
<span th:text="${attr.value}"></span><br>
</span>

<hr><hr>
<!--<span th:text="${#request.getSession().getAttribute('token')}"></span>-->
<!--<span th:text="${#session.getAttribute('token')}"></span>-->
<!--<span th:text="${#request.getAttribute('englishName')}"></span>-->

</body>
</html>